<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Display Recipe Measurements In:</h2>

  <ion-radio-group [(ngModel)]="units" (ionChange)="onUnitsChange($event.detail.value)">
    <ion-list>

      <ion-item>
        <ion-label>Metric</ion-label>
        <ion-radio value="metric"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>US</ion-label>
        <ion-radio value="us"></ion-radio>
      </ion-item>

    </ion-list>
  </ion-radio-group>
</ion-content>
