.no-results {
    text-align: center;
    margin-top: 20px;
    color: #666;
}

ion-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

ion-item {
    margin-bottom: 10px;
}

.recipe-image {
    display: block;
    width: 100%;
    max-width: 400px;
    /* prevents huge image*/
    aspect-ratio: 1 / 1;
    /* forces square */
    object-fit: contain;
    /* show full dish */
    margin: 16px auto;
    /* center horizontally */
    background-color: #111;
    /* subtle frame */
    border-radius: 12px;
}