<ion-header>
  <ion-toolbar color="primary">
    <ion-title>G00473363</ion-title>

    <ion-buttons slot="end">
      <ion-button [routerLink]="['/favourites']">
        <ion-icon name="heart-outline"></ion-icon>
      </ion-button>

      <ion-button [routerLink]="['/settings']">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h2>What ingredients do you have?</h2>

  <ion-item>
    <ion-input
      placeholder="Enter ingredients (e.g. chicken, rice)"
      [(ngModel)]="ingredients">
    </ion-input>
  </ion-item>

  <ion-button
    expand="block"
    color="primary"
    (click)="searchRecipes()">
    Search Recipes
  </ion-button>

  <!-- Recipe Results -->
  <ion-list *ngIf="recipes.length > 0">
    <ion-item
      *ngFor="let recipe of recipes"
      button
      detail
      (click)="openRecipe(recipe)">

      <ion-thumbnail slot="start">
        <img [src]="recipe.image" />
      </ion-thumbnail>

      <ion-label>
        <h2>{{ recipe.title }}</h2>
      </ion-label>

    </ion-item>
  </ion-list>

</ion-content>
