<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-title>G00473363</ion-title>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="goToFavourites($event)">
        <ion-icon name="heart"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    
    
    

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
